@tailwind base;
@tailwind components;
@tailwind utilities;



main {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to top,
    #ffffff, /* Black */
    #f0dede, /* Blue */
    #eacfff  /* Purple */
  );
}

#cards {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to top,
    #000000, /* Black */
    #000000, /* Blue */
    #d0a7f2  /* Purple */
  );
  
}






